Repository joye1503/ProjectEuler: changes, and which Codecov flags are due for each by the changed paths.
All: problems, utils

.codecov.yml:

# Coverage details
coverage:
  precision: 3
  round: down
  range: "70...100"

  status:
    project:
      default: off
      interface:
        flags: problems
      backends:
        flags: utils
    patch:
      default: off
      interface:
        flags: problems
      backends:
        flags: utils

# File categories
flags:
  problems:
    paths:
      - problems/
  gallery:
    tests:
      - tests/
  utils:
    paths:
      - utils/

Testing - test problem CL interface
  Makefile
  tests/input/test-problem-001.in
  tests/input/test-problem-002.in
  tests/input/test-problem-003.in
  tests/output/test-problem-001.out
  tests/output/test-problem-002.out
  tests/output/test-problem-003.out
  tests/test-problem-001.c
  tests/test-problem-002.c
  tests/test-problem-003.c
Due: none

Style - fix errant spacing
  tests/test-util-getuserint.c
  tests/test-util-getuserlong.c
Due: none

Testing - update tap.sh for robustness
  tests/tap.sh
Due: none

Problem 2 - update variable declaration
  problems/problem2.c
Due: problems

README - add codacy badge
  README.md
Due: none

MathUtils - add isPalindrome
  include/utils.h
  tests/test-mathutil-ispalindrome.c
  tests/test-mathutil-isprime.c
  utils/mathutils.c
Due: utils

Problems - add problem 4
  euler.c
  include/euler.h
  include/utils.h
  problems/problem4.c
  tests/input/test-problem-004.in
  tests/output/test-problem-004.out
  tests/test-mathutil-longpow.c
  tests/test-problem-004.c
  utils/mathutils.c
Due: problems, utils

make style
  utils/mathutils.c
Due: utils

Doc - style consistency
  problems/problem1.c
  problems/problem2.c
  problems/problem3.c
  utils/mathutils.c
  utils/utils.c
Due: problems, utils

Style - update comment
  .astylerc
Due: none

Testing - expand problem testing to 2 cases
  problems/problem3.c
  tests/input/test-problem-001.in
  tests/input/test-problem-002.in
  tests/input/test-problem-003.in
  tests/input/test-problem-004.in
  tests/output/test-problem-001.out
  tests/output/test-problem-002.out
  tests/output/test-problem-003.out
  tests/output/test-problem-004.out
  tests/test-problem-001.c
  tests/test-problem-002.c
  tests/test-problem-003.c
  tests/test-problem-004.c
Due: problems

Problems - switch to 3 digit numbering
  include/euler.h
  problems/problem001.c
  problems/problem002.c
  problems/problem003.c
  problems/problem004.c
  tests/test-problem-001.c
  tests/test-problem-002.c
  tests/test-problem-003.c
  tests/test-problem-004.c
Due: problems

Problems - add problem 5
  include/euler.h
  include/utils.h
  problems/problem004.c
  problems/problem005.c
  tests/input/test-problem-005.in
  tests/output/test-problem-005.out
  tests/test-problem-005.c
Due: problems

Doc - update comments to explain some math better
  problems/problem001.c
  problems/problem003.c
  problems/problem004.c
Due: problems

MathUtils - test primes from file
  include/primes.txt
  include/utils.h
  tests/test-mathutil-isprime.c
  utils/mathutils.c
  utils/primes.txt
Due: utils

MathUtils - performance update to isPrime
  include/utils.h
  tests/test-mathutil-isprimefallback.c
  utils/mathutils.c
Due: utils

License - update license
  LICENSE
Due: none

Problems - add problem 6
  include/euler.h
  problems/problem005.c
  problems/problem006.c
  tests/input/test-problem-006.in
  tests/output/test-problem-006.out
  tests/test-problem-006.c
Due: problems

Problems - add problem 7
  include/euler.h
  problems/problem006.c
  problems/problem007.c
  tests/input/test-problem-007.in
  tests/output/test-problem-007.out
  tests/test-problem-007.c
Due: problems

Problems - reduce variable scope in problem 7
  problems/problem007.c
Due: problems

Problems - add problem 8
  data/1000digit.txt
  data/primes.txt
  include/euler.h
  problems/problem007.c
  problems/problem008.c
  tests/input/test-problem-008.in
  tests/output/test-problem-008.out
  tests/test-problem-008.c
  utils/mathutils.c
  utils/primes.txt
Due: problems, utils

Makefile - reorder so driver is default
  Makefile
Due: none

Utils - add initial error handling
  euler.c
  include/utils.h
  problems/problem001.c
  problems/problem002.c
  problems/problem003.c
  problems/problem004.c
  problems/problem005.c
  problems/problem006.c
  problems/problem007.c
  problems/problem008.c
  utils/mathutils.c
  utils/utils.c
Due: problems, utils

Style - reduce variable scopes
  euler.c
  problems/problem003.c
  problems/problem005.c
  problems/problem007.c
  utils/mathutils.c
Due: problems, utils

Style - make style
  euler.c
  problems/problem008.c
Due: problems

Style - use fgets error value
  problems/problem008.c
Due: problems

Problems - add problem 9
  include/euler.h
  problems/problem009.c
  tests/input/test-problem-009.in
  tests/output/test-problem-009.out
  tests/test-problem-009.c
Due: problems

Problems - add problem 10
  include/euler.h
  problems/problem010.c
  tests/input/test-problem-010.in
  tests/output/test-problem-010.out
  tests/test-problem-010.c
Due: problems

Problems - problem 10 simplify n=3
  problems/problem010.c
Due: problems

Problems - add problem 11
  data/grid.txt
  include/euler.h
  problems/problem003.c
  problems/problem004.c
  problems/problem005.c
  problems/problem006.c
  problems/problem007.c
  problems/problem008.c
  problems/problem009.c
  problems/problem010.c
  problems/problem011.c
  tests/input/test-problem-011.in
  tests/output/test-problem-011.out
  tests/test-problem-011.c
Due: problems

Problems - add problem 12
  include/euler.h
  problems/problem012.c
  tests/input/test-problem-012.in
  tests/output/test-problem-012.out
  tests/test-problem-012.c
Due: problems

Tests - improve tests
  tests/input/test-problem-001.in
  tests/input/test-problem-002.in
  tests/input/test-problem-003.in
  tests/input/test-problem-004.in
  tests/input/test-problem-005.in
  tests/input/test-problem-006.in
  tests/input/test-problem-007.in
  tests/input/test-problem-008.in
  tests/input/test-problem-009.in
  tests/input/test-problem-010.in
  tests/input/test-problem-011.in
  tests/input/test-problem-012.in
  tests/output/test-problem-001.out
  tests/output/test-problem-002.out
  tests/output/test-problem-003.out
  tests/output/test-problem-004.out
  tests/output/test-problem-005.out
  tests/output/test-problem-006.out
  tests/output/test-problem-007.out
  tests/output/test-problem-008.out
  tests/output/test-problem-009.out
  tests/output/test-problem-010.out
  tests/output/test-problem-011.out
  tests/output/test-problem-012.out
Due: none

Makefile -update tidy rule
  Makefile
Due: none

README - update title
  README.md
Due: none

README - add Project Euler badge
  README.md
Due: none

Problems - add problem 13
  data/50digits.txt
  include/euler.h
  problems/problem006.c
  problems/problem007.c
  problems/problem008.c
  problems/problem009.c
  problems/problem010.c
  problems/problem011.c
  problems/problem012.c
  problems/problem013.c
  tests/input/test-problem-013.in
  tests/output/test-problem-013.out
  tests/test-problem-013.c
Due: problems

Problems - safer realloc for problem 13
  problems/problem013.c
Due: problems

Update .travis.yml
  .travis.yml
Due: none
